@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Practica_4_WEB.Entities.Principal>
<div class="container mt-5">
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">¡Bienvenido al Sistema!</h4>
        <p>Gracias por iniciar sesión.</p>
    </div>
</div>