@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Registro</h2>

                    <!-- Sección Compra -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h5>Compra</h5>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <ul>
                                        <li>Línea 1</li>
                                        <li>Línea 2</li>
                                        <li>Línea 3</li>
                                        <li>Línea 4</li>
                                        <li>Línea 5</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary">Consultar</button>
                        </div>
                    </div>

                    <!-- Sección Saldo Anterior -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h5>Saldo Anterior</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Saldo anterior" readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sección Abono -->
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <h5>Abono</h5>
                        </div>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Monto a abonar">
                            </div>
                        </div>
                    </div>
                    <!-- Botón Abonar -->
                    <div class="row mb-3 text-center">
                        <div class="col-md-12">
                            <button class="btn btn-success">Abonar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

